<%= form_tag({:action => 'edit', :tab => 'api'}) do %>

<div class="box tabular settings">
<p><%= setting_check_box :rest_api_enabled %></p>

<p><%= setting_check_box :jsonp_enabled %></p>
</div>
  <div class="projectino-controls">
<%= submit_tag l(:button_save) %>
  </div>
<% end %>
